/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  position: relative;
}
.scoreboard {
  color: white;
  background-color: blue;
  width: 150px;
  float: right;
}

.container {
  background: url('http://wallpapercave.com/wp/f2KTKjr.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  background-color: grey;
}

.enemy {
  fill: blue;
}

.player {
  
  position: absolute;
}

.update {
}
