/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background: url('pacmanbg.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  width: auto;
}


.scoreboard {
  color: white;
  display: inline;
  background-color: transparent;
  width: auto;
}

.high .current .collisions {
  text-align: center;
}

.boardBg {
  width: auto;
  height: auto;
}


.enemy {
  fill: blue;
}


.player {
  position: absolute;
}

