/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.scoreboard {
  background-color: blue;
  width: 200;
  float: right;
}

.container {
  background-color: grey;
}

.enemy {
  fill: red;
}

.player {
  fill: white;
}

.update {
}
